
 <div class="card m-2 "> 
     <!-- <h5 class="card-header" style="align-content:center;">Buyer Register</h5>  -->
     <div class="card-body "  style="background-color: lightskyblue;margin-left: 400px; margin-right:300px;text-align: center; align-content: center;  "  >
        
        <form [formGroup]="buyerregister" (ngSubmit)="onSubmit()">
                <div class="offset-3">
                    
                <!-- <div class="form-group col-8 ">
                    <label>Buyer Id</label>
                    <input type="text"   formControlName="bid"  class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.bid.errors }" />
                    <div *ngIf="submitted && f.bid.errors" class="invalid-feedback">
                        <div *ngIf="f.bid.errors.required">Id is required</div>
                        <div *ngIf="f.bid.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div><br/> -->
                <div class="form-group col-8 ">
                    <label>Buyer Name</label>
                    <input type="text" class="text" formControlName="bname" class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.bname.errors }" />
                    <div *ngIf="submitted && f.bname.errors" class="invalid-feedback">
                        <div *ngIf="f.bname.errors.required">Last Name is required</div>
                    </div>
                </div>
            <br/>
          
                <div class="form-group col-8 ">
                    <label>Creation Date</label>
                    <input type="date" class="text" formControlName="cdate" class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.cdate.errors }" />
                    <div *ngIf="submitted && f.cdate.errors" class="invalid-feedback">
                        <div *ngIf="f.cdate.errors.required">Date is required</div>
                    </div>
                </div>
            
           <br/>
            <div class="form-group col-8">
                <label>Mobile</label>
                <input type="text" class="text" formControlName="mno" class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.mno.errors }" />
                <div *ngIf="submitted && f.mno.errors" class="invalid-feedback">
                    <div *ngIf="f.mno.errors.required">Mobile no is required</div>
                    <div *ngIf="f.mno.errors.pattern">Mobile no Must be Valid</div>
                </div>
            </div>
            <br/>
            <div class="form-group col-8">
                <label>Email</label>
                <input type="text" class="text" formControlName="email" class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        <br/>
         
                <div class="form-group col-8 ">
                    <label>Password</label>
                    <input type="password"class="text" formControlName="bpwd" class="form-control form-rounded" [ngClass]="{ 'is-invalid': submitted && f.bpwd.errors }" />
                    <div *ngIf="submitted && f.bpwd.errors" class="invalid-feedback">
                        <div *ngIf="f.bpwd.errors.required">Password is required</div>
                        <div *ngIf="f.bpwd.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>              
                   <br/>   
            <div class="text-center">
                <button class="btn btn-primary mr-1">submit</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </div>
        </form>
    </div>
 </div> 
