.form-rounded {
    border-radius: 2rem;
    }
  .img{
 width: 50;
 height: 20;
  }
.nav.navbar-brand{
    font-weight: 800;
    font-style:bold;
    font-size: xx-large;
    text-decoration-color: cornflowerblue;
    
}
.navbar {
    width: 100%;
    /* margin-bottom: 0; */
    border-radius: 0;
    background-color:grey;
    border-style:groove;
   
}
.nav.navbar-nav.navbar-text li a{
        color: white;
       
    }





#button {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    height: 100px;
    width: 1060px;
    animation: blinkingText 1.2s infinite;
    font-size:30px;
    
}
.default {
border-color: #e7e7e7;
color: black;
}

.default:hover {
background-color:black;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }

    49% {
        color: #000;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

/* .card-body {
margin-left:2px;  Same as the width of the sidenav 
    padding: 0px 10px;
    border: #000;
    
} */
.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    align-content: center;
}

.row.content {
    height: 100px;
}

/* Set gray background color and 100% height */
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    /*z-index: 1;
    left: 0;*/
    color: white;
    background-color:lightskyblue;
    /*overflow-x: hidden;*/
    padding-top: 20px;

}


.icon-bar {
    width: 100%;
    background-color: black;
    overflow: auto;
    margin-bottom:10px;
}


#bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://thumbs.dreamstime.com/b/gold-gift-box-black-background-festive-background-gold-gift-box-gold-ribbon-bow-black-background-flat-lay-top-167623046.jpg")
}
.nav.navbar-nav.navbar-centre li a{
        color: white;
    }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width:767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
