<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><h1>EMart</h1></span>
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        </ul>
  </nav>
<div class="container">

    <div class="row">
        <div class="col-lg-offset-4 col-md-5 " id="panel">
            <h2>Get In Touch</h2>
    
            <form>
    
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Name</label>
                </div>
    
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
    
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mobile No</label>
                </div>
    
                <div class="group">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Message</label>
                </div>
                <div class="group">
                <button type="submit" class="btn btn-warning btn-center" (click)="sub()">Send <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </form>
    
        </div>
        <!-- <div class="col-lg-offset-4 col-md-5">
    <h1 style="margin-top: 40px;color: white; margin-right:2px;">Get In Touch</h1>
        </div>
    </div>
    </div> -->
    
